.App {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
	height: 94vh;
}
.user {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
	background-color: #fff6d0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 350px;
	height: 300px;
	margin: 20px;
	cursor: pointer;
}